<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<!-- // <script type="text/javascript" src="http://d3js.org/d3.v3.js"></script> -->

		<!-- Angular -->
		<script src="js/lib/angular/angular.min.js"></script>
  	<script src="js/lib/angular/angular-route.min.js"></script>
  	<script src="js/lib/angular/angular-animate.min.js"></script>
  	<script src="js/app.js"></script>
		<!-- Bootstrap -->
			<link rel="stylesheet"  href="css/normalize.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">

	</head>
	<body>
		<div class="wrapper">
			<div class="container" ng-controller="flickrCtrl">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<h1>Flickr Search</h1>
						<form name="searchForm" novalidate>
							<input type="text" ng-model="searchQuery" placeholder="enter a tag to search" required=""/>
							<button type="submit" ng-click="submit()">Submit</button>
						</form>
						<div class="searchInit" ng-if="searching" >
							Searching Flickr for photos tagged with "{{searchQueryCopy}}"
						</div>
						<div class="searchResults" ng-if="results">
							We found {{}} search results for "{{searchQueryCopy}}"
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	</html>
