<header clas="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
		<section class="info">  
		  <header>
		    <h2>Peter Lonestart</h2>
		    <p class="title">Founder</p>
		  </header>
		  <p>
		  Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
		  </p>
		</section>

		<section class="info">  
		  <header>
		    <h2>Bill Bilerson</h2>
		    <p class="title">CFO</p>
		  </header>
		  <p>
		  Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
		  </p>
		</section>

		<section class="info">   
		  <header>
		    <h2>You!</h2>
		    <p class="title">CTO</p>
		  </header>
		  <p>
		  Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
		  </p>
		</section>
	</div>

<footer>
  Contact us: <span>admin@tweetful.io</span>
</footer>





























