div { border:1px solid black;}

input { text-align:center;}
.container { padding:0px !important; }

.wrapper {  margin:0 auto; max-width:768px !important;}}

.main-heading { text-align: center !important;}

.wordInput { padding-left:80px;}

.output { padding: 20px;}
.input { text-align: center;}

code.large { font-size:1.3em;}

.col-md-3 .img { 

	    background: url("../images/mad-lib-happy-face.png") no-repeat center;
    background-size: 60%;
    height: 100px;
    
}







